<% let dates = []; if (userHistory.length > 0) { for (let i = 0; i< userHistory.length;i++) { if
(!dates.includes(userHistory[i].CompareDate.toLocaleString("nl-BE", { dateStyle: "short" }))) { %>
<p class="date">
  <%= userHistory[i].CompareDate.toLocaleString("nl-BE", { dateStyle: "medium" }) %> <%
  dates.push(userHistory[i].CompareDate.toLocaleString("nl-BE", { dateStyle: "short" })) %>
</p>
<% } let reference1 = userHistory[i].References[0]; let reference2 = userHistory[i].References[1];
%>
<button class="history-item">
  <div>
    <p><%= reference1.EnterpriseName %></p>
    <div class="hidden">
      <% if (reference1.AccountingData) { %>
      <table>
        <tr>
          <th>Eigen vermogen</th>
          <td
            style="color: <%= (reference2.AccountingData) ? (reference1.AccountingData.eigenVermogen > reference2.AccountingData.eigenVermogen) ? 'green' : 'red' : 'black' %>"
          >
            € <%= reference1.AccountingData.eigenVermogen.toLocaleString("nl-BE") %>
          </td>
        </tr>
        <tr>
          <th>Schulden</th>
          <td
            style="color: <%= (reference2.AccountingData) ? (reference1.AccountingData.schulden < reference2.AccountingData.schulden) ? 'green' : 'red' : 'black' %>"
          >
            € <%= reference1.AccountingData.schulden.toLocaleString("nl-BE") %>
          </td>
        </tr>
        <tr>
          <th>
            <%= (reference1.AccountingData.bedrijfswinstBedrijfsverlies > 0) ? "Bedrijfswinst" :
            "Bedrijfsverlies" %>
          </th>
          <td
            style="color: <%= (reference2.AccountingData) ? (reference1.AccountingData.bedrijfswinstBedrijfsverlies > reference2.AccountingData.bedrijfswinstBedrijfsverlies) ? 'green' : 'red' : 'black' %>"
          >
            € <%= reference1.AccountingData.bedrijfswinstBedrijfsverlies.toLocaleString("nl-BE") %>
          </td>
        </tr>
      </table>
      <% }else { %>
      <p class="status pdf-only">Data is enkel beschiekbaar in PDF vorm</p>
      <% } %>
      <a
        class="pdf-btn"
        href="vergelijk/pdf?referenceNumber=<%= reference1.ReferenceNumber %>"
        target="_blank"
        >PDF versie van de neerlegging</a
      >
    </div>
  </div>
  <div>
    <p><%= reference2.EnterpriseName %></p>
    <div class="hidden">
      <% if (reference2.AccountingData) { %>
      <table>
        <tr>
          <th>Eigen vermogen</th>
          <td
            style="color: <%= (reference1.AccountingData) ? (reference2.AccountingData.eigenVermogen > reference1.AccountingData.eigenVermogen) ? 'green' : 'red' : 'black' %>"
          >
            € <%= reference2.AccountingData.eigenVermogen.toLocaleString("nl-BE") %>
          </td>
        </tr>
        <tr>
          <th>Schulden</th>
          <td
            style="color: <%= (reference1.AccountingData) ? (reference2.AccountingData.schulden < reference1.AccountingData.schulden) ? 'green' : 'red' : 'black' %>"
          >
            € <%= reference2.AccountingData.schulden.toLocaleString("nl-BE") %>
          </td>
        </tr>
        <tr>
          <th>
            <%= (reference2.AccountingData.bedrijfswinstBedrijfsverlies > 0) ? "Bedrijfswinst" :
            "Bedrijfsverlies" %>
          </th>
          <td
            style="color: <%= (reference1.AccountingData) ? (reference2.AccountingData.bedrijfswinstBedrijfsverlies > reference1.AccountingData.bedrijfswinstBedrijfsverlies) ? 'green' : 'red' : 'black' %>"
          >
            € <%= reference2.AccountingData.bedrijfswinstBedrijfsverlies.toLocaleString("nl-BE") %>
          </td>
        </tr>
      </table>
      <% }else { %>
      <p class="status pdf-only">Data is enkel beschiekbaar in PDF vorm</p>
      <% } %>
      <a
        class="pdf-btn"
        href="vergelijk/pdf?referenceNumber=<%= reference2.ReferenceNumber %>"
        target="_blank"
        >PDF versie van de neerlegging</a
      >
    </div>
  </div>
</button>
<% } }else{ %>
<p class="no-history">Nog geen vergelijkingen gemaakt</p>
<% } %>
