<section class="reference">
  <% if (locals.reference) { %>
  <article>
    <h2><%= reference.reference1.EnterpriseName %></h2>
    <p>
      Adres:
      <br />
      <%= reference.reference1.Address.Street %> <%= reference.reference1.Address.Number %>
      <br />
      <%= reference.reference1.Address.PostalCode %> <%= reference.reference1.Address.City %>, <%=
      reference.reference1.Address.CountryCode %>
    </p>
    <p>Datum van neerlegging: <%= reference.reference1.DepositDate %></p>
    <% if (accoutingData.accoutingData1 !== null) { %>
    <table>
      <tr>
        <th>Eigen vermogen</th>
        <td
          style="color: <%= (accoutingData.accoutingData1.eigenVermogen > accoutingData.accoutingData2.eigenVermogen) ? 'green' : 'red' %>"
        >
          <%= accoutingData.accoutingData1.eigenVermogen.toLocaleString("NL-be") %>
        </td>
      </tr>
      <tr>
        <th>Schulden</th>
        <td
          style="color: <%= (accoutingData.accoutingData1.schulden < accoutingData.accoutingData2.schulden) ? 'green' : 'red' %>"
        >
          € <%= accoutingData.accoutingData1.schulden.toLocaleString("NL-be") %>
        </td>
      </tr>
      <tr>
        <th><%= (accoutingData.accoutingData1.isWinst) ? "Bedrijfswinst" : "Bedrijfsverlies" %></th>
        <td
          style="color: <%= (accoutingData.accoutingData1.bedrijfswinstBedrijfsverlies > accoutingData.accoutingData2.bedrijfswinstBedrijfsverlies) ? 'green' : 'red' %>"
        >
          € <%= accoutingData.accoutingData1.bedrijfswinstBedrijfsverlies.toLocaleString("NL-be") %>
        </td>
      </tr>
    </table>
    <% }else { %>
    <p class="status pdf-only">Data is enkel beschiekbaar in PDF vorm</p>
    <% } %>
    <a
      class="pdf-btn"
      href="vergelijk/pdf?referenceNumber=<%= reference.reference1.ReferenceNumber %>"
      target="_blank"
      >PDF versie van de neerlegging</a
    >
  </article>
  <article>
    <h2><%= reference.reference2.EnterpriseName %></h2>
    <p>
      Adres:
      <br />
      <%= reference.reference2.Address.Street %> <%= reference.reference2.Address.Number %>
      <br />
      <%= reference.reference2.Address.PostalCode %> <%= reference.reference2.Address.City %>, <%=
      reference.reference2.Address.CountryCode %>
    </p>

    <p>Datum van neerlegging: <%= reference.reference2.DepositDate %></p>
    <% if (accoutingData.accoutingData2 !== null) { %>
    <table>
      <tr>
        <th>Eigen vermogen</th>
        <td
          style="color: <%= (accoutingData.accoutingData2.eigenVermogen > accoutingData.accoutingData1.eigenVermogen) ? 'green' : 'red' %>"
        >
          € <%= accoutingData.accoutingData2.eigenVermogen.toLocaleString("NL-be") %>
        </td>
      </tr>
      <tr>
        <th>Schulden</th>
        <td
          style="color: <%= (accoutingData.accoutingData2.schulden < accoutingData.accoutingData1.schulden) ? 'green' : 'red' %>"
        >
          € <%= accoutingData.accoutingData2.schulden.toLocaleString("nl-BE") %>
        </td>
      </tr>
      <tr>
        <th><%= (accoutingData.accoutingData2.isWinst) ? "Bedrijfswinst" : "Bedrijfsverlies" %></th>
        <td
          style="color: <%= (accoutingData.accoutingData2.bedrijfswinstBedrijfsverlies > accoutingData.accoutingData1.bedrijfswinstBedrijfsverlies) ? 'green' : 'red' %>"
        >
          € <%= accoutingData.accoutingData2.bedrijfswinstBedrijfsverlies.toLocaleString("nl-BE") %>
        </td>
      </tr>
    </table>
    <% }else { %>
    <p class="status pdf-only">Data is enkel beschiekbaar in PDF vorm</p>
    <% } %>
    <a
      class="pdf-btn"
      href="vergelijk/pdf?referenceNumber=<%= reference.reference2.ReferenceNumber %>"
      target="_blank"
      >PDF versie van de neerlegging</a
    >
  </article>
  <% } %>
</section>
