<%- include('header', { title: "aanmelden" }); %>
<main class="login">
  <form method="POST" action="/aanmelden">
    <h2>Aanmelden</h2>
    <fieldset>
      <% if (locals.loginError) { %>
      <p class="status" style="background-color: #cc3300"><%= loginError.message %></p>
      <% } %>
      <div>
        <input
          type="email"
          name="email"
          pattern="^[a-zA-Z0-9.]+@[a-zA-Z]+\.[a-zA-Z]{2,3}$"
          required
        />
        <label>Emailadres</label>
      </div>
      <div>
        <input type="password" name="password" required />
        <label>Wachtwoord</label>
      </div>
      <input type="submit" value="aanmelden" />
      <a class="change" href="./registreren">Nog geen account?</a>
    </fieldset>
  </form>
</main>
<% if (locals.status) {%>
<div class="status-message" style="background-color: <%= status.color %>">
  <%= status.message %>
</div>
<% } %> <%- include('footer'); %>
