<%- include('headerCc', { title: "vergelijk" } ) %>
<main id="compare">
  <section>
    <form action="vergelijk" method="post">
      <% if (locals.status) { %>
      <p class="status" style="background-color: <%= status.color %>">
        <%= status.message %>
      </p>
      <% } %>
      <div class="form-fields-container">
        <div>
          <p class="be-placeholder">BE</p>
          <input
            type="number"
            name="ondernemingsnummer1"
            id="ondernemingsnummer1"
            placeholder="0535880359"
            required
            tabindex="1"
            value="<%= locals.ondernemingsnummer1 %>"
          />
          <% if (locals.references) { %>
          <select name="references1" id="references1">
            <% for (let i = 0; i<references.references1.length; i++)   { %>
              <option value="<%= references.references1[i] %>"><%= (references.references1[i]).substring(0, 4) %></option>
            <% } %>
          </select>
          <% } %>
        </div>
        <div class="compare-icon">
          <label for=""><span class="material-symbols-outlined">compare_arrows</span></label>
          <input type="submit" value="" tabindex="3" />
        </div>
        <div>
          <p class="be-placeholder">BE</p>
          <input
            type="number"
            name="ondernemingsnummer2"
            id="ondernemingsnummer2"
            placeholder="0535880359"
            required
            tabindex="2"
            value="<%= locals.ondernemingsnummer2 %>"
          />
          <% if (locals.references) { %>
            <select name="references2" id="references2">
            <% for (let i = 0; i<references.references2.length; i++)   { %>
              <option value="<%= references.references2[i] %>"><%= (references.references2[i]).substring(0, 4) %></option>
            <% } %>
          </select>
          <% } %>
        </div>
      </div>
    </form>
  </section>
  <%- include('onderdelen/reference') %>
  <section class="history">
    <h1>History</h1>
      <%- include('onderdelen/history') %>
  </section>
</main>
<%- include('footer'); %>
