<%- include('headerCc', { title: "vergelijk" } ) %>
<main id="compare">
  <section>
    <form action="vergelijk" method="post">
      <% if (locals.status) { %>
      <p class="status" style="background-color: <%= status.color %>">
        <%= status.message %>
      </p>
      <% } %>
      <div class="form-fields-container">
        <div>
          <p class="be-placeholder">BE</p>
          <input
            type="number"
            name="ondernemingsnummer1"
            id="ondernemingsnummer1"
            placeholder="0535880359"
            required
            tabindex="1"
            value="<%= locals.ondernemingsnummer1 %>"
          />
          <% if (locals.references) { %>
          <select name="references1" id="references1">
            <% for (let i = 0; i<references.references1.length; i++)   { %>
              <option value="<%= references.references1[i] %>"><%= (references.references1[i]).substring(0, 4) %></option>
            <% } %>
          </select>
          <% } %>
        </div>
        <div class="compare-icon">
          <label for=""><span class="material-symbols-outlined">compare_arrows</span></label>
          <input type="submit" value="" tabindex="3" />
        </div>
        <div>
          <p class="be-placeholder">BE</p>
          <input
            type="number"
            name="ondernemingsnummer2"
            id="ondernemingsnummer2"
            placeholder="0535880359"
            required
            tabindex="2"
            value="<%= locals.ondernemingsnummer2 %>"
          />
          <% if (locals.references) { %>
            <select name="references2" id="references2">
            <% for (let i = 0; i<references.references2.length; i++)   { %>
              <option value="<%= references.references2[i] %>"><%= (references.references2[i]).substring(0, 4) %></option>
            <% } %>
          </select>
          <% } %>
        </div>
      </div>
    </form>
  </section>
  <section class="reference">
    <% if (locals.reference) { %>
    <article>
      <h2><%= reference.reference1.EnterpriseName %></h2>
      <p>
        Adres:
        <br>
        <%= reference.reference1.Address.Street %> <%= reference.reference1.Address.Number %>
        <br>
        <%= reference.reference1.Address.PostalCode %> <%= reference.reference1.Address.Number %>, <%= reference.reference1.Address.CountryCode %>
      </p>
      <p>Datum van neerlegging: <%= reference.reference1.DepositDate %></p>
      <a href="vergelijk/pdf?referenceNumber=<%= reference.reference1.ReferenceNumber %>" target="_blank">PDF</a>
    </article>
    <article>
      <h2><%= reference.reference2.EnterpriseName %></h2>
      <p>
        Adres:
        <br>
        <%= reference.reference2.Address.Street %> <%= reference.reference2.Address.Number %>
        <br>
        <%= reference.reference2.Address.PostalCode %> <%= reference.reference2.Address.Number %>, <%= reference.reference2.Address.CountryCode %>
      </p>
      <p>Datum van neerlegging: <%= reference.reference2.DepositDate %></p>
      <% if (!reference.reference2.status === 404) { %>

      <% }else { %>
      <p>Data is enkel beschiekbaar in PDF vorm</p>
      <% } %>
      <a href="vergelijk/pdf?referenceNumber=<%= reference.reference2.ReferenceNumber %>" target="_blank">PDF</a>
    </article>
    <% } %>
  </section>
  <section>
    <h1>History</h1>
    <article>
      <h2></h2>
    </article>
  </section>
</main>
<%- include('footer'); %>
